*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url("./cat.jpg") no-repeat center top/cover;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.lexend-font {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
  color: white;
  background-color: #0273FF;
  padding: 16px 33px;
  border-radius: 60px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}
.btn:hover {
  color: #0273FF;
  background-color: #fff;
  border: 1px solid #0273FF;
  padding: 15px 32px;
}
.btn-form {
  justify-self: start;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  color: white;
  background-color: #93d7d6;
  border-bottom: 2px solid white;
}
.header__wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Klee One", cursive;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.main {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainpage {
  display: grid;
  flex-direction: column;
  gap: 2px;
  grid-template-columns: 1fr 1fr;
}
.mainpage__service {
  padding: 25px;
  background: white;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
  flex-direction: column;
  gap: 30px;
  align-items: start;
}
.mainpage__service-title {
  font-size: 24px;
  font-weight: 600;
}
.mainpage__service-description {
  font-size: 14px;
  font-weight: normal;
  color: #1B1B29;
  max-width: 380px;
}
.mainpage__service-price {
  font-size: 14px;
  padding: 4px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E3E9F0;
  flex-grow: 0;
  border-radius: 20px;
}

.form {
  max-width: 328px;
  text-align: center;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 25px;
  border: 3px solid #999999;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #fff;
}
.form__input {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  color: #999999;
  border: 2px solid #999999;
  outline: none;
  flex: 1;
  display: block;
  width: 300px;
  min-height: 45px;
  max-height: 332px;
}
.form__input:focus {
  border: 3px solid #2FB3FD;
  padding: 11px 15px;
}
.form__text {
  color: #999999;
  font-weight: 300;
  font-size: 14px;
}
.form__remember-me {
  color: #999999;
  font-size: 12px;
  display: flex;
  align-content: center;
  justify-content: start;
  align-self: start;
  margin-right: auto;
  gap: 8px;
}

.footer {
  border-top: 2px solid #bdbdbd;
  background-color: #77b3b4;
  color: #fff;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  min-height: 230px;
}
.footer__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 1px solid #fff;
.footer__link {
  font-size: 12px;
  color: #fff;
  font-weight: 400;
}
.footer__info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
}
.footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 8px;
}
.footer__contacts {
  font-size: 11px;
}
.footer__c-m-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 8px;
}
